<?xml version="1.0"?>

<launch>
  <arg name="project" default="waypoint_driving"/>
  
  <!-- Parameters -->
  <rosparam file="$(find waypoint_driving)/config/params.yaml" command="load" /> 
  
  <!--- Start Node -->
  <node pkg="$(arg project)" type="$(arg project)" name="$(arg project)" output="screen" respawn="false" />  
  
</launch>
