<?xml version="1.0"?>

<launch>
  <arg name="project" default="waypoint_driving"/>
  
  <!--- Sim Time -->
  <param name="use_sim_time" value="false" />
  
  <!--- Start Node -->
  <node pkg="$(arg project)" type="$(arg project)" name="$(arg project)" output="screen" respawn="true" />  
  
</launch>
